#VS folder
.vs
#output
out
#Junk build files
/**/Makefile

#Solution things
*.user
*.sln
*.vcxproj*
#some files that imgui does
imgui.ini
#Dictionary
*.txt

##Apple
#Xcode folders
*.xcworkspace
*.xcodeproj
#Apple junk
.DS_Store